.idea/
/vendor/
/config/console.php
/config/*-local.php
/config/*-production.php
/config/*-iquadart.php
/config/*.log
/data/*.db
/web/cgi-bin/
/web/webstat/
/web/tools/
/web/assets/resized
/web/.htaccess
/web/*.txt
/web/*.xml
/web/*.htm
/web/*.html
php_errors.log
composer.phar
*.bak
*.log