@font-face {
    font-family: 'fontello';
    src: url("../fonts/fontello.eot?51151868");
    src: url("../fonts/fontello.eot?51151868#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?51151868") format("woff2"), url("../fonts/fontello.woff?51151868") format("woff"), url("../fonts/fontello.ttf?51151868") format("truetype"), url("../fonts/fontello.svg?51151868#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'helioscondregular';
    src: url("../fonts/helioscond-webfont.eot");
    src: url("../fonts/helioscond-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helioscond-webfont.woff2") format("woff2"), url("../fonts/helioscond-webfont.woff") format("woff"), url("../fonts/helioscond-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'league_gothicregular';
    src: url("../fonts/leaguegothiccyrillic-webfont.eot");
    src: url("../fonts/leaguegothiccyrillic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothiccyrillic-webfont.woff") format("woff"), url("../fonts/leaguegothiccyrillic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
  
@font-face{
    font-family: 'Druk-Text-Cyr';
    src: url("../fonts/drukText-cyr-Heavy.eot");
    src: url("../fonts/drukText-cyr-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/drukText-cyr-Heavy.woff2") format("woff2"), url("../fonts/drukText-cyr-Heavy.woff") format("woff"), url("../fonts/drukText-cyr-Heavy.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'aa_bebas_neueregular';
    src: url("../fonts/aa-bebasneue-webfont.eot");
    src: url("../fonts/aa-bebasneue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aa-bebasneue-webfont.woff2") format("woff2"), url("../fonts/aa-bebasneue-webfont.woff") format("woff"), url("../fonts/aa-bebasneue-webfont.ttf") format("truetype"), url("../fonts/aa-bebasneue-webfont.svg#aa_bebas_neueregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url("../fonts/Spectral-Medium.eot");
    src: url("../fonts/Spectral-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Spectral-Medium.woff2") format("woff2"), url("../fonts/Spectral-Medium.woff") format("woff"), url("../fonts/Spectral-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url("../fonts/Spectral-MediumItalic.eot");
    src: url("../fonts/Spectral-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Spectral-MediumItalic.woff2") format("woff2"), url("../fonts/Spectral-MediumItalic.woff") format("woff"), url("../fonts/Spectral-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DrukCyr';
    src: url("../fonts/DrukCyr-Medium.eot");
    src: url("../fonts/DrukCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DrukCyr-Medium.woff2") format("woff2"), url("../fonts/DrukCyr-Medium.woff") format("woff"), url("../fonts/DrukCyr-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DrukCyr';
    src: url("../fonts/DrukCyr-Bold.eot");
    src: url("../fonts/DrukCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DrukCyr-Bold.woff2") format("woff2"), url("../fonts/DrukCyr-Bold.woff") format("woff"), url("../fonts/DrukCyr-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DrukCyr';
    src: url("../fonts/DrukCyr-Super.eot");
    src: url("../fonts/DrukCyr-Super.eot?#iefix") format("embedded-opentype"), url("../fonts/DrukCyr-Super.woff2") format("woff2"), url("../fonts/DrukCyr-Super.woff") format("woff"), url("../fonts/DrukCyr-Super.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src: url("../fonts/RobotoMono-Medium.eot");
    src: url("../fonts/RobotoMono-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMono-Medium.woff2") format("woff2"), url("../fonts/RobotoMono-Medium.woff") format("woff"), url("../fonts/RobotoMono-Medium.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Druk-Cyr-Wide';
    src: url("../fonts/druk-cyr-medium-wide.eot");
    src: url("../fonts/druk-cyr-medium-wide.eot?#iefix") format("embedded-opentype"), url("../fonts/druk-cyr-medium-wide.woff2") format("woff2"), url("../fonts/druk-cyr-medium-wide.woff") format("woff"), url("../fonts/druk-cyr-medium-wide.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'league_gothicregular-ext';
    src: url("../fonts/leaguegothic-regular-webfont.eot");
    src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff2") format("woff2"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DrukCyr';
    src: url("../fonts/DrukCyr-Medium.eot");
    src: url("../fonts/DrukCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DrukCyr-Medium.woff2") format("woff2"), url("../fonts/DrukCyr-Medium.woff") format("woff"), url("../fonts/DrukCyr-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url("../fonts/Spectral-Medium.eot");
    src: url("../fonts/Spectral-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Spectral-Medium.woff2") format("woff2"), url("../fonts/Spectral-Medium.woff") format("woff"), url("../fonts/Spectral-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url("../fonts/Spectral-MediumItalic.eot");
    src: url("../fonts/Spectral-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Spectral-MediumItalic.woff2") format("woff2"), url("../fonts/Spectral-MediumItalic.woff") format("woff"), url("../fonts/Spectral-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}